<%- include('partials/header'); %>
  <%- include('partials/navbar'); %>
  <div class="container">
    <h1>404 Error, the requested resource was not found.</h1>
  </div>
  <%- include('partials/footer'); %>