<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Kinsta</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if(loggedIn){ %>
        <li class="nav-item">
          <li class="nav-item">
          <a class="nav-link" href="/photo">Add Photo</a>
        </li>
        <% } %> 
        <% if(!loggedIn){ %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <% } %> 
        <% if(loggedIn){ %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } %> 
        <% if(!loggedIn){ %>
        <li class="nav-item">
          <a class="nav-link" href="/signUp">Signup</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>